@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 600px) {
    .buttons {
      flex-direction: column !important;
      justify-content: center !important;
      margin-left: 10%;
      margin-right: 10%;
    }
}